h1 {
	color: rgb(97, 0, 0);
	font-style: italic;
}

.notification {
	color: rgb(0, 128, 0);
	background: rgb(241, 255, 234);
	font-size: 20px;
	border-style: solid;
	border-radius: 5px;
	padding: 10px;
	margin-bottom: 10px;
}

.error {
	color:rgb(200, 0, 0);
	background: rgb(255, 210, 190);
	font-size: 20px;
	border-style: solid;
	border-radius: 5px;
	padding: 10px;
	margin-bottom: 10px;
}

.person {
	color: rgb(100, 100, 100);
	padding-top: 3px;
	font-size: 15px;
}